<div class="row">
    <% for(var i=0;i<data.branches.length;++i) { %>
    <% if(data.branches[i].active) { %>
    <div class="col s12 l6 xl4">
        <div class="card user-card hoverable white darken-1">
            <div class="card-font card-content grey-text text-darken-3">
                <span class="user-card-title card-title"><%= data.branches[i].name %></span>
                <p><b>id:</b> <%= data.branches[i].id %></p>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
</div>