<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page Title -->
    <title>Flowebs</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Materialize -->
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Bootstrap -->
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom Styles -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--<link href="css/shop-homepage.css" rel="stylesheet">-->
    <!--<link href="css/freelancer.min.css" rel="stylesheet">-->
    <!--<link href="/css/magnific-popup.css" rel="stylesheet" type="text/css">-->

    <!-- Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

<div id="header">
    <nav class="container-fluid grey darken-3">
        <div class="container grey darken-3">
            <div id="logo" class="nav-wrapper grey darken-3">
                <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Flowebs</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="menu-item" id="contact-us-btn" href="#contact">Contact Us</a></li>
                    <li><a class="menu-item" id="flower-catalog">Catalog</a></li>
                    <li><a class="menu-item modal-trigger" href="#login-modal" id="login_button_nav" >Login</a></li>
                    <li><a class="menu-item" id="logout_button_nav" onclick="logout()">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a id="contact-us-btn_collapase" href="#contact">Contact Us</a></li>
                    <li><a id="flower-catalog_collapase">Catalog</a></li>
                    <li><a id="login_button_nav_collapase" role="button" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><a id="logout_button_nav_collapase" onclick="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="content" id="default-container">
    <div id="index-banner" class="white-text parallax-container">
        <div class="white-text section no-pad-bot">
            <div id="parallax-container" class="container white-text">
                <br><br><br>
                <div id="parallax-text" class="header center text-lighten-2 white-text">
                    <img id="parallax-logo" class="hide-on-small-and-down" src="images/logo-white.png">
                    <span>
                        <span>Flowebs</span>

                    </span>
                </div>
                <div id="moto" class="header col s12 light">Our Moto is The Best!</div>
                <div class="row center">
                    <a id="login-button-parallax" class="btn-large waves-effect waves-light grey darken-3 modal-trigger"  href="#login-modal">Login</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img id="background-image" src="images/background.jpg" alt="Unsplashed background img 1">
        </div>
    </div>

    <br><br>

    <div id="info" class="container">

        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                        <h5 class="center">Available Anywhere</h5>

                        <p class="light info">We did most of the heavy lifting for you to provide a default stylings
                            that incorporate our custom components. Additionally, we refined animations and transitions
                            to provide a smoother experience for developers. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras eget
                            sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">local_shipping</i></h2>
                        <h5 class="center">Fast Delivery</h5>

                        <p class="light info">Flowebs offers high speed delivery to most populated environments.
                            Delivery will be protected by high end tech companies that professions delivery protection.
                            Deliveries will arrive between 2 and 5 work days. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras eget
                            sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">info</i></h2>
                        <h5 class="center">About</h5>

                        <p class="light info">Flowebs is a new company that will provide high quality flowers and
                            delivery services to it's clients. Flowebs is scheduled to begin operations on Jan 28, 2018.
                            Flowebs will be a partnership, owned and operated by Yair Yigal and Danmi. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac
                            tellus ex. Cras eget sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h4 id="contact" class="white-text">Contact Us</h4>
                <p class="grey-text text-lighten-4">Danmi: <a class="white-text" href="https://t.me/danmi"> t.me/danmi</a></p>
                <p class="grey-text text-lighten-4">Yair Yigal: <a class="white-text" href="https://t.me/YairYigal">t.me/YairYigal</a></p>

            </div>
        </div>
    </div>
    <div id="copyright" class="footer-copyright grey darken-4">
        <div class="container-fluid">
            <div id="by">
                © Made by <a class="white-text">Danmi & YairN</a>
            </div>
        </div>
    </div>
</footer>


<!-- Login Modal -->
<div id="login-modal" class="modal">
    <div class="modal-content">
        <div id="id1" class="center">
            <img id="modal-logo" class="circle" src="images/logo-dark-grey.png">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<!--&lt;!&ndash; BEGIN # MODAL LOGIN &ndash;&gt;-->
<!--<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header" align="center">-->
                <!--<img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--</button>-->
            <!--</div>-->

            <!--&lt;!&ndash; Begin # DIV Form &ndash;&gt;-->
            <!--<div id="div-forms">-->

                <!--&lt;!&ndash; Begin # Login Form &ndash;&gt;-->
                <!--<form id="login-form">-->
                    <!--<div class="modal-body">-->
                        <!--<div id="div-login-msg">-->
                            <!--<div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                            <!--<span id="text-login-msg">Type your username and password.</span>-->
                        <!--</div>-->
                        <!--<input id="login_username" class="form-control" type="text"-->
                               <!--placeholder="Username (type ERROR for error effect)" required>-->
                        <!--<input id="login_password" class="form-control" type="password" placeholder="Password" required>-->
                        <!--<div class="checkbox">-->
                            <!--<label>-->
                                <!--<input type="checkbox"> Remember me-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>-->
                            <!--<button id="login_register_btn" type="button" class="btn btn-link">Register</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <!--&lt;!&ndash; End # Login Form &ndash;&gt;-->

                <!--&lt;!&ndash; Begin | Lost Password Form &ndash;&gt;-->
                <!--<form id="lost-form" style="display:none;">-->
                    <!--<div class="modal-body">-->
                        <!--<div id="div-lost-msg">-->
                            <!--<div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                            <!--<span id="text-lost-msg">Type your e-mail.</span>-->
                        <!--</div>-->
                        <!--<input id="lost_email" class="form-control" type="text"-->
                               <!--placeholder="E-Mail (type ERROR for error effect)" required>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>-->
                            <!--<button id="lost_register_btn" type="button" class="btn btn-link">Register</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <!--&lt;!&ndash; End | Lost Password Form &ndash;&gt;-->

                <!--&lt;!&ndash; Begin | Register Form &ndash;&gt;-->
                <!--<form id="register-form" style="display:none;">-->
                    <!--<div class="modal-body">-->
                        <!--<div id="div-register-msg">-->
                            <!--<div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                            <!--<span id="text-register-msg">Register an account.</span>-->
                        <!--</div>-->
                        <!--<input id="register_username" class="form-control" type="text"-->
                               <!--placeholder="Username (type ERROR for error effect)" required>-->
                        <!--<input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>-->
                        <!--<input id="register_password" class="form-control" type="password" placeholder="Password"-->
                               <!--required>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<button id="register_login_btn" type="button" class="btn btn-link">Log In</button>-->
                            <!--<button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <!--&lt;!&ndash; End | Register Form &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; End # DIV Form &ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; END # MODAL LOGIN &ndash;&gt;-->











<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Materialize -->
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/materializejs"></script>

<!-- Bootstrap -->
<!--<script src="js/bootstrap.min.js"></script>-->

<!-- Custom Scripts -->
<script src="js/login.js"></script>
<script src="js/usersOptions.js"></script>
<script src="js/users-management.js"></script>

</body>

</html>



