<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page Title -->
    <title>Flowebs</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Materialize -->
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Bootstrap -->
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom Styles -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--<link href="css/shop-homepage.css" rel="stylesheet">-->
    <!--<link href="css/freelancer.min.css" rel="stylesheet">-->
    <!--<link href="/css/magnific-popup.css" rel="stylesheet" type="text/css">-->

    <!-- Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

<div id="header">
    <nav class="container-fluid grey darken-3">
        <div id="header-container" class="container grey darken-3">
            <div id="logo" class="nav-wrapper grey darken-3">
                <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Flowebs</a>
                <a id="menu-button" href="#" data-activates="mobile-demo" class="button-collapse"><i
                            class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="menu-item" id="contact-us-btn" href="#contact">Contact Us</a></li>
                    <li><a class="menu-item" id="flower-catalog">Catalog</a></li>
                    <li><a class="menu-item modal-trigger" href="#login-modal" id="login_button_nav">Login</a></li>
                    <li><a class="menu-item" id="logout_button_nav" onclick="logout()">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a id="contact-us-btn-collapse" href="#contact">Contact Us</a></li>
                    <li><a id="flower-catalog-collapse">Catalog</a></li>
                    <li><a id="login_button_nav_collapse" class="modal-trigger" href="#login-modal">Login</a></li>
                    <li><a id="logout_button_nav_collapse" onclick="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="content" id="default-container">
    <div id="index-banner" class="white-text parallax-container">
        <div class="white-text section no-pad-bot">
            <div id="parallax-container" class="container white-text">
                <br><br><br>
                <div id="parallax-text" class="header center text-lighten-2 white-text">
                    <img id="parallax-logo" class="hide-on-small-and-down" src="images/logo-red-flower.png">
                    <span>
                        <span>Flowebs</span>
                    </span>
                </div>
                <div id="moto" class="header col s12 light">Our Moto is The Best!</div>
                <div class="row center">
                    <a id="login-button-parallax" class="btn-large waves-effect waves-light grey darken-3 modal-trigger"
                       href="#login-modal">Login</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img id="background-image" src="images/background.jpg" alt="Unsplashed background img 1">
        </div>
    </div>


    <br><br>
    <div id="dynamic-content" class="container">
        <div class="row">
            <div id="info" class="container-fluid">
                <div class="section">
                    <!--   Icon Section   -->
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                                <h5 class="center">Available Anywhere</h5>

                                <p class="light info">We did most of the heavy lifting for you to provide a default
                                    stylings
                                    that incorporate our custom components. Additionally, we refined animations and
                                    transitions
                                    to provide a smoother experience for developers. Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras
                                    eget
                                    sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">local_shipping</i></h2>
                                <h5 class="center">Fast Delivery</h5>

                                <p class="light info">Flowebs offers high speed delivery to most populated environments.
                                    Delivery will be protected by high end tech companies that professions delivery
                                    protection.
                                    Deliveries will arrive between 2 and 5 work days. Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras
                                    eget
                                    sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">info</i></h2>
                                <h5 class="center">About</h5>

                                <p class="light info">Flowebs is a new company that will provide high quality flowers
                                    and
                                    delivery services to it's clients. Flowebs is scheduled to begin operations on Jan
                                    28,
                                    2018.
                                    Flowebs will be a partnership, owned and operated by Yair Yigal and Danmi. Lorem
                                    ipsum
                                    dolor
                                    sit amet, consectetur adipiscing elit. Maecenas in elit quam. Nam a libero metus.
                                    Donec
                                    ac
                                    tellus ex. Cras eget sapien eu velit tincidunt ornare. Suspendisse mollis finibus
                                    dui.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h4 id="contact" class="white-text">Contact Us</h4>
                <p class="grey-text text-lighten-4">Danmi: <a class="white-text"
                                                              href="https://t.me/danmi">t.me/danmi</a></p>
                <p class="grey-text text-lighten-4">Yair Yigal: <a class="white-text" href="https://t.me/YairYigal">t.me/YairYigal</a>
                </p>

            </div>
        </div>
    </div>
    <div id="copyright" class="footer-copyright grey darken-4">
        <div class="container-fluid">
            <div id="by">
                © Made by <a class="white-text">Danmi & YairN</a>
            </div>
        </div>
    </div>
</footer>


<!-- Login Modal -->
<div id="login-modal" class="modal input-modal">
    <div class="modal-content">
        <div class="center">
            <img id="modal-logo" class="circle" src="images/customer.png">
        </div>
        <div id="login-label" class="modal-title">Login:</div>
        <br>
        <form class="col s12">
            <div class="row">
                <div class="center form">
                    <div class="input-field">
                        <i id="person-login-icon" class="material-icons prefix">person</i>
                        <input placeholder="Username" id="login_username" type="text" class="validate">
                        <label for="first_name">Username:</label>
                    </div>
                    <!--<br>-->
                    <div class="input-field">
                        <i id="lock-login-icon" class="material-icons prefix">lock</i>
                        <input placeholder="Password" id="login_password" type="password" class="validate">
                        <label for="first_name">Password</label>
                    </div>
                    <br>
                    <a class="btn green waves-effect waves-light" onclick="login()">Login
                        <i class="material-icons right">send</i>
                    </a>
                    <br>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat">Register</button>
    </div>
</div>

<div id="edit-user-modal" class="modal input-modal">
    <div class="modal-content">
        <div class="center">
            <img id="modal-logo" class="circle" src="images/customer.png">
        </div>
        <div id="edit-user-modal-title" class="text-center modal-title">Edit User ID:</div>
        <br>
        <form class="col s12">
            <div class="row">
                <div class="center form">
                    <div class="input-field">
                        <i id="person-edit-icon" class="material-icons prefix">person</i>
                        <input placeholder="Username" id="edit-user-username" type="text" class="validate">
                        <label for="first_name">Username:</label>
                    </div>
                    <br>
                    <div class="input-field">
                        <i id="lock-edit-icon" class="material-icons prefix">lock</i>
                        <input placeholder="Password" id="edit-user-pwd" type="password" class="validate">
                        <label for="first_name">Password:</label>
                    </div>
                    <br>
                    <div class="input-field col s12">
                        <i id="type-edit-icon" class="material-icons prefix">assignment_ind</i>
                        <select id="edit-select-type">
                            <option value="1">Manager</option>
                            <option value="2">Worker</option>
                            <option value="3">Client</option>
                        </select>
                        <label>Type:</label>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button id="edit-user-send" class="green-text modal-action waves-effect waves-green btn-flat modal-footer-btn">Edit</button>
    </div>
</div>

<div id="add-user-modal" class="modal input-modal">
    <div class="modal-content">
        <div class="center">
            <img id="modal-logo" class="circle" src="images/customer.png">
        </div>
        <div id="add-user-modal-title" class="text-center modal-title">Add User</div>
        <br>
        <form class="col s12">
            <div class="row">
                <div class="center form">
                    <div class="input-field">
                        <i id="person-edit-icon" class="material-icons prefix">person</i>
                        <input placeholder="Username" id="add-user-username" type="text" class="validate">
                        <label for="first_name">Username:</label>
                    </div>
                    <br>
                    <div class="input-field">
                        <i id="lock-edit-icon" class="material-icons prefix">lock</i>
                        <input placeholder="Password" id="add-user-pwd" type="password" class="validate">
                        <label for="first_name">Password:</label>
                    </div>
                    <br>
                    <div class="input-field col s12">
                        <i id="type-edit-icon" class="material-icons prefix">assignment_ind</i>
                        <select id="add-select-type">
                            <option value="1">Manager</option>
                            <option value="2">Worker</option>
                            <option value="3">Client</option>
                        </select>
                        <label>Type:</label>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button id="add-user-send" class="green-text modal-action waves-effect waves-green btn-flat modal-footer-btn">Add</button>
    </div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Materialize -->
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/materializejs"></script>

<!-- Bootstrap -->
<!--<script src="js/bootstrap.min.js"></script>-->

<!-- Custom Scripts -->
<script src="js/login.js"></script>
<script src="js/users-options.js"></script>
<script src="js/users-management.js"></script>


</body>

</html>



