<div id="info" class="container">

    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                    <h5 class="center">Available Anywhere</h5>

                    <p class="light info">We did most of the heavy lifting for you to provide a default stylings
                        that incorporate our custom components. Additionally, we refined animations and
                        transitions
                        to provide a smoother experience for developers. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras
                        eget
                        sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">local_shipping</i></h2>
                    <h5 class="center">Fast Delivery</h5>

                    <p class="light info">Flowebs offers high speed delivery to most populated environments.
                        Delivery will be protected by high end tech companies that professions delivery
                        protection.
                        Deliveries will arrive between 2 and 5 work days. Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec ac tellus ex. Cras
                        eget
                        sapien eu velit tincidunt ornare. Suspendisse mollis finibus dui.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">info</i></h2>
                    <h5 class="center">About</h5>

                    <p class="light info">Flowebs is a new company that will provide high quality flowers and
                        delivery services to it's clients. Flowebs is scheduled to begin operations on Jan 28,
                        2018.
                        Flowebs will be a partnership, owned and operated by Yair Yigal and Danmi. Lorem ipsum
                        dolor
                        sit amet, consectetur adipiscing elit. Maecenas in elit quam. Nam a libero metus. Donec
                        ac
                        tellus ex. Cras eget sapien eu velit tincidunt ornare. Suspendisse mollis finibus
                        dui.</p>
                </div>
            </div>
        </div>

    </div>
</div>