<br><br>
<div class="row">
    <div class="col m12 l6">
        <div class="card">
            <div class="waves-effect waves-block waves-light card-image image-container" onclick="loadStoresManagement()">
                <img class="card-image-jpg" src="images/stores.jpeg">
                <div class="screen"></div>
                <span class="card-title">Stores Management</span>
            </div>
        </div>
    </div>
    <div class="col m12 l6">
        <div class="card">
            <div class="waves-effect waves-block waves-light card-image image-container" onclick="loadUsersManagement()">
                <img class="card-image-jpg" src="images/clients.jpg">
                <div class="screen"></div>
                <span class="card-title">Users Management</span>

            </div>
        </div>
    </div>
</div>
<br><br>