<link href="/css/styles.css" rel="stylesheet" type="text/css">

<script src="../js/users-management.js"></script>
<script src="../js/database-manager.js"></script>


<ul class="col-lg-7 list-group">
    <% for(var user in data) {                                                                                                      %>
    <%     var show = true;                                                                                                         %>
    <%     if((data[user].type === "WORKER" || data[user].type === "MANAGER") && currentUser.type !== "MANAGER"){ %>
    <%         show = false;                                                                                                        %>
    <%     }                                                                                                                        %>
    <%     if(show) {                                                                                                               %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4><%= data[user].username %></h4>
                            <% if(currentUser && currentUser.type === "MANAGER"){                                                   %>
                                    <h4><%= users[user].password %> </h4>
                                    <h4><a onclick="initEditUser(<%= user %>)">Edit User</a></h4>
                            <% }                                                                                                    %>
                        </div>
                    </div>
                </div>
    <%     }                                                                                                                        %>
    <% }                                                                                                                            %>
</ul>

<div class="modal" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalHeader">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <ul class="list-group">

                    <!--Username field-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addUserUsername">Username</label>
                        <input id="addUserUsername" name="addUserUsername" type="text" placeholder="" class="form-control input-md" required="">
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addUserPwd">Password</label>
                        <input id="addUserPwd" name="addUserPwd" type="password" placeholder="" class="form-control input-md" required="">
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="addUserTypeBtn"
                                data-toggle="dropdown">Please Select Type
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                        </button>
                        <ul id="addUserTypeDropdown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CLIENT</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">WORKER</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MANAGER</a></li>
                        </ul>
                    </div>
                </ul>
            </div>

            <div class="modal-footer">
                <button id="addUserBtn" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalTitle">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <ul class="list-group">

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="editUserUsername">Username</label>
                        <input id="editUserUsername" name="editUserUsername" type="text" placeholder=""
                               class="form-control input-md" required="">
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="editUserPwd">Password</label>
                        <input id="editUserPwd" name="editUserPwd" type="password" placeholder=""
                               class="form-control input-md" required="">
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="editUserTypeBtn"
                                data-toggle="dropdown">Please Select Type
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                        </button>
                        <ul id="editUserTypeDropdown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CLIENT</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">WORKER</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MANAGER</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="editUserBtn" class="btn btn-primary">Done</button>
                <button type="button" id="deleteUserBtn" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<h4>
    <button type="button" onclick="initAddButton()" class="col-lg-4 btn-primary">Add User</button>
</h4>

