#deleteUserBtn {
    float: right;
}

@media (max-width: 991px ) {
    #header-container {
        width: 98%;
    }
}



.menu-item {
    font-size: 18px;
}

#background-image {
    filter: blur(1px) brightness(0.9);
}

#parallax-text {
    float: left;
    height: 80px;
    font-size: 80px;
    align-content: center;
    margin-bottom: 25px;
    width: 100%;

}
#parallax-container {
    overflow: hidden;
    text-align: center;
    align-content: center;
}
#parallax-logo {
    /*background-image: url("../images/logo-white.png");*/
    margin-right: 20px;
    height: 100%;
    width: auto;
    margin-bottom: -10px;
}

#moto {
    margin-top: 100px;
    font-size: 22px;

}

#login-button-parallax {
    font-size: 16px;
    width: 150px;
    margin-top: 30px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
    color: #424242;
}

.info {
    margin-top: 50px;
}
.page-footer {
    margin-top: 30px;
    height: 250px;
}
#by {
    margin-left: 15px;
}

#copyright {
    margin-top: 50px;
}

#modal-logo {
    /*padding: 100px;*/
    width: 250px;
    margin-bottom: 20px;

}



.form {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.toast {
    /*width: 400px !important;*/
    color: white !important;
    font-size: 20px;
}

@media (min-width: 991px){
    #toast-container {
        top: auto !important;
        left: auto !important;
        bottom: 7%;
        right:5%;
    }
    .toast {
        width: 500px !important;
    }
}

@media (min-width: 762px){
    #login-modal {
        width: 400px;
    }
}



.prefix{
    margin-left: -10px;
    color: #424242
}

#person-login-icon{
    margin-top: 20px;
}

#lock-login-icon {
    margin-top: 10px;
}

.input-field .prefix.active {
    color: #4CAF50;
}

/* label focus color */
.input-field input:focus + label {
    color: #4CAF50 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important
}

#login-label {
    /*color: #4CAF50;*/
    margin-top: -5px;
    font-size: 25px;
    /*padding-left: 15px;*/
    text-align: center;
}

