#deleteUserBtn {
    float: right;
}

#logo {
    padding-left: 15px;
}

.menu-item {
    font-size: 18px;
}

#background-image {
    filter: blur(1px) brightness(0.9);
}

#parallax-text {
    float: left;
    height: 80px;
    font-size: 80px;
    align-content: center;
    margin-bottom: 25px;
    width: 100%;

}
#parallax-container {
    overflow: hidden;
    text-align: center;
    align-content: center;
}
#parallax-logo {
    /*background-image: url("../images/logo-white.png");*/
    margin-right: 20px;
    height: 100%;
    width: auto;
    margin-bottom: -10px;
}

#moto {
    margin-top: 100px;
    font-size: 22px;

}

#login-button-parallax {
    font-size: 16px;
    width: 150px;
    margin-top: 30px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
    color: #424242;
}

.info {
    margin-top: 50px;
}
.page-footer {
    margin-top: 30px;
    height: 250px;
}
#by {
    margin-left: 15px;
}

#copyright {
    margin-top: 50px;
}


